<!DOCTYPE doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   Balistica
  </title>
  <base href="/"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="favicon.ico" rel="icon" type="image/x-icon"/>
 </head>
 <body>
  <app-root>
  </app-root>
  <script src="{{ url_for('static', filename='runtime.js') }}" type="text/javascript">
  </script>
  <script src="{{ url_for('static', filename='polyfills.js') }}" type="text/javascript">
  </script>
  <script src="{{ url_for('static', filename='styles.js') }}" type="text/javascript">
  </script>
  <script src="{{ url_for('static', filename='vendor.js') }}" type="text/javascript">
  </script>
  <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript">
  </script>
 </body>
</html>
